{% extends "base.html" %}
{% block bodyblock %}
<h1>list</h1>
<a class="btn btn-primary" href="{% url 'uploadpage' %}" role="button">Add Item</a>
<br>


<table class="table mb-0">
<thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Created date</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody>
  {% for item in todo %}
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.created_date }}</td>
      <td>
        <a href="{% url 'delete' item.id %}" class="btn btn-primary btn-sm">
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  
{% endblock bodyblock %}